---

import MainLayout from "@layouts/MainLayout.astro";

import { getCollection, render } from "astro:content";

import "@styles/singleBlog.css";


const Posts = await getCollection("blog");

const {Content, Heading} = await render(Posts[6]);




---

<MainLayout
	title="Home | Blog's Paulina front-end web Developer"
	description="Articles, projects, and learnings about front-end development, web design, and the real journey of building digital products."
>

	<main class="mt-8 singleBlog">

        <Content />

	</main>
</MainLayout>
