---
import Title from "@components/ui/Title.astro";
import SocialMedia from "@components/ui/SocialMedia.astro";
import Hr from "@components/ui/Hr.astro";
import Post from "@components/blog/Post.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout
	title="Home | Blog's Paulina front-end web Developer"
	description="Articles, projects, and learnings about front-end development, web design, and the real journey of building digital products."
>
	<Hr />
	<section class="pt-8">
		<Title title="Hi, I’m Paulina 👋" isMain={true} />
		<div class="sec-p mb-6">
			<p class="dark:text-neutral-400 text-neutral-600">
				I’m on a journey to become a front-end web developer. I love
				building little projects, trying out new coding techniques, and
				sharing what I learn along the way. When I’m not at my desk,
				you’ll find me reading, hiking through the mountains, or
				challenging myself on rock-climbing walls.
			</p>
			<p class="dark:text-neutral-400 text-neutral-600">
				I started this blog to document my progress, keep myself
				accountable, and hopefully inspire anyone else who’s learning to
				code. Welcome to my corner of the internet, and thanks for
				stopping by!
			</p>
		</div>
		<SocialMedia />
	</section>
	<main class="mt-8">
		<Hr />
		<div class="pt-8">
			<Title title="Latest Articles" lineDown={true} />
			<ul class="flex flex-col gap-6 mb-8">
				<li>
					<Post
						title="Balancing Hobbies and Coding: How Hiking and Rock Climbing Help Me Stay Motivated"
						link="https://www.google.com"
						date="February 18, 2025"
					/>
				</li>
				<li>
					<Post
						title="Reading for Inspiration: 5 Books That Shaped My Coding Journey"
						link="https://www.google.com"
						date="February 15, 2025"
					/>
				</li>
				<li>
					<Post
						title="Overcoming Imposter Syndrome as a New Developer"
						link="https://www.google.com"
						date="February 10, 2025"
					/>
				</li>
				<li>
					<Post
						title="Exploring the World of Responsive Design"
						link="https://www.google.com"
						date="February 4, 2025"
					/>
				</li>
				<li>
					<Post
						title="My Favorite Dev Tools for Productivity"
						link="https://www.google.com"
						date="January 29, 2025"
					/>
				</li>
			</ul>
			<a
				href="/articles"
				class="text-neutral-700 text-lg lineDown-a relative hover:text-neutral-600 hover:transition-all hover:duration-300 dark:text-white"
			>
				View all articles
			</a>
		</div>
	</main>
</MainLayout>
