---
import NavItem from "@components/layout/header/NavItem.astro";

import MenuButton from "@components/layout/header/MenuButton.astro";

import ModeButton from "@components/layout/header/ModeButton.astro";

import PaulinaImage from "@assets/images/paulina.jpg";

import { Image } from "astro:assets";


const itemsNav = [
    { name: "Home", link: "/Astro-Blog/", border: "true" },
    { name: "Blog", link: "/Astro-Blog/blog/", border: "true" },
    { name: "About", link: "/Astro-Blog/about/", border: "true" },
    { name: "Newsletter", link: "/Astro-Blog/newsletter/", border: "false" },
];

const pathName = Astro.url.pathname;
---

<header
    class="relative gap-1.5 flex flex-row justify-between bg-white p-2 rounded-2xl items-center border border-neutral-200 dark:bg-neutral-800 dark:border-neutral-700"
>

    <Image src={PaulinaImage} alt="Paulina" title="Paulina" class="rounded-lg w-10 h-10 min-h-10 min-w-10" />

    <nav class="lg:w-full" >
        <ul
            id="menu"
            class="rounded-2xl border border-neutral-200 py-4 px-4 left-0 absolute bottom transform translate-y-1/4 bg-white w-full flex flex-col hidden dark:bg-neutral-800 lg:flex lg:relative lg:flex-row lg:!transform-none lg:!translate-none lg:gap-5 lg:border-0 lg:justify-end z-10 dark:border-neutral-700"
        >
            {
                itemsNav.map((item) => (
                    <NavItem
                        name={item.name}
                        link={item.link}
                    />
                ))
            }
        </ul>
    </nav>
    <div class="flex flex-row gap-4">
        <MenuButton />
        <ModeButton />
    </div>
</header>

<script type="module">
    import gsap from "https://cdn.skypack.dev/gsap";

    const buttonShowMenu = document.getElementById("buttonShowMenu");
    const iconShow = document.getElementById("imgShow");
    const iconHide = document.getElementById("imgHide");
    const menu = document.getElementById("menu");

    buttonShowMenu?.addEventListener("click", () => {
        buttonShowMenu.classList.toggle("show-button");
        iconShow?.classList.toggle("hidden");
        iconHide?.classList.toggle("hidden");
        menu?.classList.toggle("hidden");
        gsap.from("#menu", {
            y: 150,
            opacity: 0,
        });
    });
</script>

<script is:inline>
    const updateActiveNavItem = () => {
       
        const menu = document.getElementById("menu");
        const ItemsMenu = menu?.querySelectorAll("li a");


        ItemsMenu?.forEach((item) => {

            if (item.getAttribute("href") === window.location.pathname) {
                item.querySelector("div ")?.classList.add("navActive");

            }
        });
    };
    updateActiveNavItem();

    document.addEventListener("astro:page-load", updateActiveNavItem);
</script>

<style is:global>
    .show-button {
        background-color: #34302d;
        transition: all ease 0.3s;
    }
</style>
