---
import SocialMedia from "@components/ui/SocialMedia.astro";
import Hr from "@components/ui/Hr.astro";
---

<footer>
    <Hr />
    <div class="flex flex-row items-center py-4 justify-between">
        <span class="text-neutral-700 dark:text-neutral-400">
            Made with ❤️ and ☕️
        </span>
        <SocialMedia notStyleItems={true} />
    </div>
</footer>
